.audio
	.row
		.col-md-12
			%h1 Sample audio title
			.audio-nav
				Back to search results, wrapped in existing record page?
			.audio-box
				.waveform
					"Thumbnails for your ears" - see Emerson's blog post
				.timeline
					Timeline, scrub, jump to timecode (text box), insert markers, save/export markers
				.controls
					Play, pause, volume, quality settings, toggle mono/stereo
			.audio-metadata
				%a{ :href => '#' } Download full video (.mp4 format, 100Mb)