.home
	.row
		.col-md-12
			%h1 ViewHack

			%h2 Video player

			%p The NDHA delivers video files as [........] format

			%ul 
				%li 
					%a{ :href => '/video' } Example

			%h2 Audio player

			%p The NDHA delivers audio files as [........] format

			%ul 
				%li 
					%a{ :href => '/audio' } Example

			%h2 Hi-res image viewer

			%p The NDHA delivers high-resolution image files as [........] format

			%ul 
				%li 
					%a{ :href => '/image' } Example

			%h2 Ebook/document viewer

			%p The NDHA delivers e-book files as [........] format

			%ul 
				%li Example

			%h2 Multi-page/multi-image viewer

			%ul 
				%li Example

			%h2 "Complex object" viewer

			%ul 
				%li Album with cover
