.video
	.row
		.col-md-12
			%h1 ViewHack

			%h2 Video player

			%ul 
				%li Example

			%h2 Audio player

			%ul 
				%li Example

			%h2 Hi-res image viewer

			%ul 
				%li Example

			%h2 Ebook/document viewer

			%ul 
				%li Example

			%h2 Multi-page/multi-image viewer

			%ul 
				%li Example

			%h2 "Complex object" viewer

			%ul 
				%li Album with cover
